body{
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: Arial;
    font-size: 12px;
}
.bg{
    width: 100%;
    height: 100%;
    z-index: -100;
    position: fixed;
}
/*top*/
.top{
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #999;
    box-shadow: 0 1px 0 #bbb;
    background-color: #333;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}
.topcontent{
    width: 1040px;
    color: #f7f7f7;
    position: relative;
    font-weight: bold;
    font-size: 12px;
    background: url("../images/top_img.png") no-repeat;
}
.toptext{
   padding-left:20px;
}
.topul{
    padding: 0;
    margin: 0;
    right: 0;
    position: absolute;
    top:0;
    color: #ffffff;
    list-style: none;
    margin-right: 10px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;
}
.topul li{
     margin-left: 23px;
}
.topul li:hover{
    color: #f29600;
}
/*top end*/

/*second top*/
.second_top{
    width: 1033px;
    height: 94px;
    margin-top: 57px;
    background: #01aeef;
    margin-left: 162px;
    background: url("../images/logo.png") no-repeat;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:flex-end;
    -webkit-align-items:flex-end;
    -moz-align-items:flex-end;
    -o-align-items:flex-end;
    -ms-align-items:flex-end;

    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -o-flex-direction:column;
    -ms-flex-direction:column;

}
.second_toptext1{
   width: 246px;
    height: 36px;
    background-color: #639898;
    border-bottom: 1px solid #555;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;

}
.second_toptext2{
    font-size: 14px;
    color: #ffffff;
    margin-left: 11px;
    text-shadow: 1px 2px 2px #2e2e2e;
}
.second_toptext3{
    color: #222;
    margin-top: 14px;
    font-weight: bold;
    font-size: 13px;
}
.second_tophome{
    width: 17px;
    height: 16px;
    margin-left: 8px;
    background: url("../images/home_top.png");
}
/*second top end*/

/*一级菜单end*/
.menu{
    margin-top: 0;
    padding: 0px;
    width: 1040px;
    height: 56px;
    background: #333333;
    margin-left:155px ;
    border-bottom: 3px solid #4d4d4d;
    border-radius:5px 5px 0 0 ;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;
    margin-bottom: 0px;
}
.menu>li{
    display: inline;
    padding: 20px 20px 21px 20px;
   position: relative;
    top:3px;
    color: #ffffff;
    border-right: 1px solid #888;
    border-bottom: 3px solid #4d4d4d;
    border-left: 1px solid #000;

}
.menu>li:nth-child(1){
    position: relative;
    left: 3px;
    border-left:none;
}
.menu>li:nth-child(3):hover{
    border-bottom: 3px solid #f7a300;
}
.menu>li:nth-child(4):hover{
    border-bottom: 3px solid #f7a300;
}
.menu>li:nth-child(7):hover{
    border-bottom: 3px solid #f7a300;
}
.menu>li~li{
    margin-right: -3px;
}
.menu>li:hover{
    background: #434343;
    border-bottom: 3px solid #c78100;
}
/*二级菜单 */
.secondmenu{
    width: 198px;
    border: 1px solid #aaa;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    top:56px;
    left: -2px;
    display: none;
    z-index: 1;
}
.menu li:hover .secondmenu{
    display: block;
}
.secondmenu li{
 height: 40px;
    border-bottom: 1px solid #333;
    line-height: 40px;
    background: #444;
}
.secondmenu li:hover{
    background: #333;
}
.secondmenutext{
    padding-left:20px;
    font-size: 14px;
    color: #ffffff;
}
/*二级菜单 end*/

.icon1{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -5px -2px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon2{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -3px -18px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon3{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -3px -34px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon4{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -5px -54px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon5{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -3px -74px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon6{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -3px -91px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
.icon7{
    display:inline-block;
    width: 14px;
    height: 13px;
    background: url("../images/icon.png") -2px -108px no-repeat;
    padding-right: 8px;
    position: relative;
    top: 2px;
}
/*一级菜单 end*/

/*风景图片*/
.sights{
    width: 1040px;
    height: 450px;
   margin: 0 auto;
    background: url("../images/bg2.jpg");

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:flex-end;
    -webkit-align-items:flex-end;
    -moz-align-items:flex-end;
    -o-align-items:flex-end;
    -ms-align-items:flex-end;

}
.sightstext{
    width: auto;
    height: 50px;
    padding: 0 15px 0 15px;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.25);
}
/*风景图片 end*/
/*content1（四个图标）*/
.content1{
    margin: 0 auto;
    width: 1040px;
    height: 303px;
    background: #e8e8e8;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}
.content1>div:nth-child(1){
    margin-left: 48px;
}
.column{
    width: 220px;
    height: 290px;
    margin-left: 10px;
    margin-right: 10px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -o-flex-direction:column;
    -ms-flex-direction:column;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;

}
.column_icon1{
    width: 120px;
    height: 150px;
    background:url("../images/icons1.png");
}
.column_icon1:hover{
    background:url("../images/iconh1.png");
}
.column_icon2{
    width: 120px;
    height: 150px;
    background:url("../images/icons1.png") 0 -150px;
}
.column_icon2:hover{
    background:url("../images/iconh1.png") 0 -150px;
}
.column_icon3{
    width: 120px;
    height: 150px;
    background:url("../images/icons1.png") 0 -300px;
}
.column_icon3:hover{
    background:url("../images/iconh1.png") 0 -300px;
}
.column_icon4{
    width: 120px;
    height: 150px;
    background:url("../images/icons1.png") 0 -450px;
}
.column_icon4:hover{
    background:url("../images/iconh1.png") 0 -450px;
}
.columntext1{
    color: rgb(51, 51, 51);
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.columntext1:hover{
    color: #ff9600;
}
.columntext2{
    font-size: 12px;
    color: #666666 ;
    line-height: 21px;
}
.shadow{
    margin: 0 auto;
    width: 1040px;
    height: 27px;
    background-color: #f7f7f7;
}
/*content1（四个图标）*/

/*content2*/
.content2{
    width: 1040px;
    height:200px;
    margin: 0 auto;
    background: #f7f7f7;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}
.content2_box{
    width: 933px;
    height: 107px;
    background-color: #e8e8e8;
    border-left: 7px solid #639898;
    box-shadow: 1px 0 0 #d9d9d9, 0 1px 0 #d9d9d9,0 -1px 0 #d9d9d9;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}
.content2_text{
    width: auto;
    line-height: 30px;
    margin-left: 35px;
}
.content2_text1{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}
.content2_text2{
    font-size: 12px;
    color: #666666
}

.content2_botton{
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    background: #ff9600;
    text-shadow: 0px 1px 0px #444;
    padding:6px 14px ;
    border-radius: 3px;
    box-shadow: 0 1px 0 #000000;
    margin-right: 35px;
}
.content2_botton:hover {
    background-color: #639898;
}
/*content2 end*/

/*content3 中间一大部分*/
.content3{
    width: 1040px;
    height: 1050px;
    background: #f7f7f7;
    margin: 0 auto;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;
}
.content3_mid{
    width: 940px;
    height: 1050px;
}

.title{
    width: 940px;
    height: 40px;
    line-height: 40px;
    padding-bottom:20px ;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}
.titletext{
    color: #ff9600 ;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
.titletext:hover{
    color: #555555;
}
.titletext1{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    font-style: normal;
}
.arrow{
    width: 49px;
    height: 24px;
}
.arrow1{
    margin-left:1px;
}

/*四张图片*/
.imgwrapper{
    width: 940px;
    height: 214px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;

}

.imgwrapper1{
 width: 220px;
    height: 215px;
}
.view{
    width: 218px;
    height: 145px;
    position: relative;
    border: 1px solid #e7e7e7;
}
.img1{
    width: 218px;
    height:145px ;
}
.img1_ho{
    width: 218px;
    height: 145px;
    position: absolute;
    left: 0;
    top: 0;
    background-color:rgba(99, 152, 152, 0.8) ;
    display: none;
}
.icon_search{
    position: absolute;
    left: 88px;
    top: 52px;
}
.view:hover .img1_ho{
    display: block;
}
.view_title{
    width: 218px;
    height: 63px;
    border: 1px solid #e7e7e7;
    background-color: #eeecec;
   margin-top: 3px;
    text-align: center;
    line-height: 21px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -o-flex-direction:column;
    -ms-flex-direction:column;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

}
.view_title_text1{
    font-size: 14px;
    font-weight: bold;
}
.view_title_text1:hover{
    color: rgb(255, 150, 0);
}
.view_title_text2{
    font-size: 13px;
    font-style: italic;
    text-shadow: 0 1px 0 #fff;
   color: #353535;
 }
/*四张图片 end*/

.line{
    width: 940px;
    height: 1px;
   border-top: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 #fff;
   margin-bottom: 17px;
    margin-top: 66px;
}

/*Latest News*/
.ls{
    width: 940px;
    height: 252px;
    border-bottom:1px solid #e8e8e8;
    box-shadow: 0 1px 0 #fff;
    margin-bottom: 20px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;
}

.ls_wrap1{
    width: 50px;
    height: 126px;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 1px 0px #fff;
    margin-right: 10px;
}
.ls_wrap1_01{
    width: 50px;
    height: 30px;
    background-color: #639898;
    position: relative;
    border-bottom: 1px solid #333;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}

.ls_wrap1_02{
    width: 50px;
    height: 40px;
    background-color: #4e4e4e;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid #777;
    border-top: 1px solid #777;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}

.ls_wrap1_03{
    width: 50px;
    height: 52px;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #333;
    background-color: #eeecec;
    text-align: center;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    flex-direction:column;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -o-flex-direction:column;
    -ms-flex-direction:column;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}

.mon{
    font-weight: bold;
    font-size: 16px;
    color: #333;

}
.year{
    font-weight: bold;
    font-size: 16px;
    color: #777;
}

.ls_wrap2{
    width: 220px;
    height: 230px;
    margin-right: 38px;
}
.ls_wrap2_imgwrap{
    width: 218px;
    height: 109px;
    border: 1px solid #e7e7e7;
    position: relative;
}
.ls_wrap2_img{
    width: 218px;
    height: 109px;
}
.ls_wrap2_imgho{
    width: 218px;
    height: 109px;
    position: absolute;
    left: 0;
    top: 0;
    background-color:rgba(99, 152, 152, 0.8) ;
    display: none;
}
.ls_search{
    position: absolute;
    left: 88px;
    top: 34px;
}
.ls_wrap2_imgwrap:hover .ls_wrap2_imgho{
    display: block;
}

.ls_wrap2text{
    padding-top:8px ;
    width: 220px;
}
.ls_wrap2text1{
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
.ls_wrap2text1:hover{
    color: rgb(255, 150, 0);
}
.ls_wrap2text2{
    line-height: 20px;
    font-size: 12px;
    color: #666666;
}

.left_arrow{
   position: absolute;
    left: 0px;
    top: 17px;
    width: 40px;
    height: 80px;
    background: url("../images/arrow_left_no.png");
}
.left_arrow:hover{
    background: url("../images/arrow_left_ho.png");
}
.right_arrow{
    position: absolute;
    right: 0px;
    top: 17px;
    width: 40px;
    height: 80px;
    background: url("../images/arrow_right_no.png");
}
.right_arrow:hover{
    background: url("../images/arrow_right_ho.png");
}
/*Latest News end*/

/*Some clients*/
.sc{
    width: 934px;
    height: 190px;
    border: 3px solid #fff;
    background-color: #eeecec;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;
}

.sc>div:nth-child(1){
    margin-left: 18px;
}
.sc>div:nth-child(4){
    margin-right: 18px;
}
.company{
    width: 210px;
    height:120px;
    position: relative;
}
.company_ho{
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height:120px;
    background: rgba(207, 207, 207, 0.49);
    display: none;
}
.company:hover .company_ho{
    display: block;
}
.company:hover .companyname{
    display: block;
}
.companyname{
    position: absolute;
    top: 120px;
    left:48px ;
    width: 93px;
    height: 40px;
    display: none;

}
.sj{
    width: 0;
    height: 0;
    border:5px solid rgba(0, 0, 0, 0);
    border-bottom:5px solid rgba(14, 13, 13, 0.71);
    position: absolute;
    left: 40px;
    top:0;
}
.companyname1{
    width: 93px;
    height: 30px;
    background: rgba(14, 13, 13, 0.71);
    border-radius:2px ;
    position: absolute;
    left: 0px;
    top:10px;
    color: #ffffff;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;


    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;

    justify-content:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    -o-justify-content:center;
    -ms-justify-content:center;
}
/*Some clients end*/
/*content3 end*/

.silverline{
    width: 1040px;
    height: 5px;
    background: #dedede;
    margin: 0 auto;
}

.orange{
    width: 1040px;
    height: 66px;
    background-color: #ff9600;
    margin: 0 auto;
}
.orangetext{
    font-size: 18px;
    color: #ffffff;
   position: relative;
    top:-8px;
    left: 17px;
}
.orangetext2:hover{
    color: #333;
}
.orange_icon{
    margin-left: 50px;
    margin-top: 20px;
}
/*footer*/
.footer{
    width: 1040px;
    height: 421px;
    background: #414141;
    border-bottom:1px solid #525252;
    margin: 0 auto;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}

.footer>div:nth-child(1){
    margin-left: 50px;
}
.footer>div:nth-child(4){
    margin-right: 50px;
}
.footer_wrap{
    width: 220px;
    height: 340px;
    margin-top: 61px;
}
.logo2{
    width: 220px;
    height: 48px;
}
.footer_secondtitle{
    font-size: 13px;
    color: #777777;
    font-weight: bold;
}
.footer_text{
    font-size: 12px;
    color: #f1f1f1;
    line-height: 21px;
    margin-bottom: 18px;
}
.footer_title{
    color: #a8a8a8;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
}
.footer_warp2{
    width:220px;
    height: 135px;
    border-bottom: 1px solid #333333;
}
.footertext1{
   font-size: 13px;
    color: #A2A2A2;
    font-weight: bold;
}
.footertext1:hover{
    color:#ff9600;
}
.footer_imgtext_wrap{
    width: 210px;
    height: 63px;
    margin-top: 15px;
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

}
.footer_img{
    width: 56px;
    height: 56px;
    border: 3px solid #4e4e4e;
    margin-right:10px ;
}
.footer_text2{
    width: 138px;
    height: 60px;
    line-height: 20px;
    font-size: 12px;
    color: #f1f1f1;
    line-height: 20px;
}

.footer_warp3{
    width:220px;
    height: 20px;
    font-size: 11px;
    color: #bababa;
    margin-top: 10px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}

.footer_text3:hover{
    color:#ff9600;
}

.footer_warp4{
    width:220px;
    height: 135px;
    border-top: 1px solid #555555;
    margin-top: 1px;
}
.footertext4{
    margin-top: 17px;
    font-size: 13px;
    color: #A2A2A2;
    font-weight: bold;
}
/*footer end*/

.banner{
    width: 1040px;
    height: 50px;
    background: #333333;
    font-size: 11px;
    margin: 0 auto;
    color: #f1f1f1;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    align-items:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    -o-align-items:center;
    -ms-align-items:center;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}

.bannertext{
    margin-left:50px ;
}
.bannertext1:hover{
    color:#ff9600;
}
.banner_icon{
    width: 185px;
    height: 25px;
    margin-right:50px;

    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
    display:-o-flex;
    display:-ms-flex;

    justify-content:space-between;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -ms-justify-content:space-between;
}
.banner_icon1{
    width: 25px;
    height: 25px;
    background-image:url("../images/footericon.png");
    position: relative;
}
.banner_icon1:hover{
    opacity: 0.7;
}
.banner_icon2{
    width: 25px;
    height: 25px;
    background:url("../images/footericon.png") 0 -25px;
    position: relative;
}
.banner_icon2:hover{
    opacity: 0.7;
}
.banner_icon3{
    width: 25px;
    height: 25px;
    background:url("../images/footericon.png") 0 -50px;
    position: relative;
}
.banner_icon3:hover{
    opacity: 0.7;
}
.banner_icon4{
    width: 25px;
    height: 25px;
    background:url("../images/footericon.png") 0 -75px;
    position: relative;
}
.banner_icon4:hover{
    opacity: 0.7;
}
.banner_icon5{
    width: 25px;
    height: 25px;
    background:url("../images/footericon.png") 0 -125px;
    position: relative;
}
.banner_icon5:hover{
    opacity: 0.7;
}
.banner_icon6{
    width: 25px;
    height: 25px;
    background:url("../images/footericon.png") 0 -100px;
    position: relative;
}
.banner_icon6:hover{
    opacity: 0.7;
}

