body{
    padding: 0;
    margin: 0;
    font-family: Arial;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.all{
    width:1349px;
    height: 1800px;
    /*background: greenyellow;*/
}
.left{
    width:250px;
    height: 1800px;
    background: #161719;
    float: left;
    border-right: 5px solid #00aaaa;
    position: relative;
}
.right{
    width: 1094px;
    height: 1800px;
    background: #a8a8a8;
    float: right;
}

/*左边菜单*/
.logo{
    margin-left: 40px;
    margin-top: 50px;
}
.menu{
   position: relative;
    margin-top: 50px;
}
.menu li{
    width: 250px;
    height: 75px;
    position: relative;
}
.menutext{
     position: absolute;
     top: 16px;
    left: 60px;
}
.menutext1{
    color: #ffffff;
    font-size: 20px;
}
.menutext2{
    font-size: 12px;
    color: #6C6C6C;
}
.menuimg{
    position: absolute;
    top: 20px;
    left: 20px;
}
.menubg{
    height: 75px;
    width: 0;
    background: #00aaaa;
    position: absolute;
    right: 0;
    top: 0;
}
.menu li:hover .menubg{
    padding-right: 250px;
    transition: all 0.5s linear;
}
.menu li:hover .menutext2{
    color: #000000;
    transition: all 0.1s linear;
}

/*搜索框*/
.searcher{
    width: 210px;
    height: 30px;
    background: url("../images/search-box.png");
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.search-text{
    float: left;
    display: block;
    width: 155px;
    height: 10px;
    border: none;
    background: none;
    font-size: 12px;
    line-height: 30px;
    padding: 10px;
}
.search-submit{
    float: left;
    display: block;
    width: 35px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
/*搜索框 end*/
.lefttext1{
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-size: 12px;
    color: #5B6A6F;
}
.lefttext2{
    color: #551a8b;
    text-decoration:underline;
}
.left_iconbox1{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 169px;
    overflow: hidden;
}
.left_iconbox2{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    left: 200px;
    overflow: hidden;
}
.left_iconbox3{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 200px;
    overflow: hidden;
}
.left_icon{
}
.left_icon:hover{
    transform: translate(0,-30px);
    transition: all ease 0.5s;
}

/*左边菜单end*/